.repo-link {
  text-decoration: none !important;
  color: #2e3545 !important;
  font-family: "Open Sans", "Tahoma", "Helvetica", "Arial", sans-serif !important;
  transition: color 0.3s ease;
  font-weight: 500 !important;
  cursor: pointer;
}

.repo-link:hover {
  color: #f2f2f2;
  font-weight: bolder;
  background-color: transparent;
}
